@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.header{
  margin-left: 540px;
  margin-right: 150px;
  margin-top: 50px;
}
.box1{
  
    background-color: lightgrey;
    width: 300px;
    border: 2px solid rgb(2, 34, 2);
    padding: 50px;
    margin: 20px;
    margin-left: 75px;
  }
  .box2{
  
    background-color: lightgrey;
    width: 300px;
    border: 2px solid rgb(5, 36, 5);
    padding: 50px;
    margin: 20px;
  }
  .box3{
  
    background-color: lightgrey;
    width: 300px;
    border: 2px solid rgb(6, 34, 6);
    padding: 50px;
    margin: 20px;
  }


